@import "tailwindcss";

:root {
  --background: #f9fafb; /* Gris claro para el fondo */
  --foreground: #1f2937; /* Gris oscuro para el texto */
  --primary: #4f46e5; /* Índigo para botones y acentos */
  --primary-hover: #4338ca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937; /* Gris oscuro para dark mode */
    --foreground: #e5e7eb; /* Gris claro para texto en dark mode */
    --primary: #818cf8; /* Índigo más claro para dark mode */
    --primary-hover: #6366f1;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Animación personalizada para el error */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in;
}
